:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --app-bar-height: 60px;
}

@font-face {
  font-family: "Nothing You Could Do";
  src: url("/fonts/NothingYouCouldDo-Regular.woff2") format("woff2"),
    url("/fonts/NothingYouCouldDo-Regular.woff") format("woff");
}

body {
  margin: 0;
  background: #f1f5f9;
}

#layout {
  display: grid;
  grid-template: auto var(--app-bar-height) / minmax(500px, 1fr) 400px;
  min-height: 100vh;
}

#app-bar {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#editor {
  grid-column: 1/ 2;
  grid-row: 1 / 2;
  height: calc(100vh - var(--app-bar-height));
  padding: 20px 20px 0;
  box-sizing: border-box;
}

#hashtags {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
